<div class="card mb-5 bg-fern text-bean border-round">
  {{#if title}}
    <h4 class="card-header bg-bean text-secondary py-3 border-round">
      {{title}}
    </h4>
  {{/if}}
  
  {{> @partial-block }}
</div>