<div class="card mb-3 bg-fern text-bean border-round">
    <div class="card-body py-4">
      <p class="card-text mb-3">{{content}}</p>
      {{#if user}}by {{user.username}} {{/if}} on {{format_date createdAt}}
    </div>
  </div>