{{#> card title="New Post"}}
  {{#> postEditForm }}
    <button 
      class="btn btn-lg bg-parsley text-fern mx-3" 
      type="submit">
      Publish
    </button>
  {{/postEditForm}}

  <script src='/js/addFormValidation.js'></script>
  <script src='/js/addPost.js'></script>
{{/card}} 